/* ==============================================
   COLORS
   ============================================== */

/* ==============================================
   GLOBAL STYLES
   ============================================== */

@font-face {

    font-family: avenir;
    src: url('fonts/Avenir.ttc');

}

@font-face {

    font-family: adam;
    src: url('fonts/Adam.otf');

}

@font-face {

    font-family: gobold;
    src: url('fonts/Gobold Regular.otf');

}

body {

    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    text-align: justify;
    margin: 0px 5px;
    font-family: avenir;
}

.intro2 {
    margin: 10px 0 0 0;
}

.intro1 {
    margin: 0;

}

h2 {

    font-size: 16pt;
    text-align: center;
    margin-top: 30px;
    font-family: gobold;

}

h4 {

    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: adam;
    text-decoration: underline;
    font-size: 20px;
}

img {

    margin-top: 20px;
}

a {

    margin-top: 20px;
    margin-bottom: 80px;
    font-family: gobold;

}

.image-wrapper {
    width: 100%;
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.table {

    background-color: white;
    color: black;
    text-align: left;
   
}

.table th {

    background-color: white;
    color: black;
    text-align: left;
    border-color: black;

}


.middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.8);
}

.middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
}

.middle3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
}

.container .image:hover {
    opacity: 0.3;
}

.text {

    color: black;
    font-size: 20px;
    text-align: center;

}

.btn {

    border-radius: 30px;
    background-color: black;

}

/* MEDIA QUERIES
*********************************************/

/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
}