/* ==============================================
   COLORS
   ============================================== */


/* ==============================================
   GLOBAL STYLES
   ============================================== */

.logo {
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    text-align: justify;
    margin: 0px 5px;
}

.intro2 {
    margin-top: 10px;

    
}

h2 {

    font-size: 16pt;
    text-align: center;
    margin-top: 100px;

}


h4 {

    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

img {

    margin-top: 20px;
}

a {

margin-top: 20px;
margin-bottom: 80px;

}


    /* MEDIA QUERIES
    *********************************************/
    
    
    /* Extra small devices (portrait phones, less than 576px)
    / No media query since this is the default in Bootstrap*/
    
    
    /* Small devices (landscape phones, 576px and up)*/
    
    @media (min-width: 576px) {}
    
    
    /* Medium devices (tablets, 768px and up)*/
    
    @media (min-width: 768px) {}
    
    
    /* Large devices (desktops, 992px and up)*/
    
    @media (min-width: 992px) {}
    
    
    /* Extra large devices (large desktops, 1200px and up)*/
    
    @media (min-width: 1200px) {}